astroid==2.4.2
beautifulsoup4==4.9.1
click==7.1.2
colorzero==1.1
diagrams==0.16.0
Flask==1.1.2
Flask-Cors==3.0.8
google==2.0.3
gpiozero==1.5.1
graphviz==0.13.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.1
mccabe==0.6.1
progress==1.5
pylint==2.5.3
soupsieve==2.0.1
tinydb==4.1.1
toml==0.10.1
webpreview==1.6.0
Werkzeug==1.0.1
wrapt==1.12.1
